$shared: "../../../shared.module.scss";

.container {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 320px; // make this dynamic (calc) based on users vw
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding-inline: 0.5rem;
  gap: 1rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & > h2 {
    color: var(--accent-bg-color);
  }

  & > .icon {
    font-size: 1.5rem;
  }
}

.dropdown {
/*   color: var(--accent-bg-color); */
/*   padding-right: 1rem; */
  cursor: pointer;

  & > .icon {
    font-size: 1.2rem;
  }
}

.article {
  composes: rounded-corners from $shared;
  background-color: var(--accent-bg-color);
  padding: 2rem;

  & > img {
    width: 100%;
  }

  & > .details {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

p {
  padding-bottom: 1rem;
}