.container {
  width: 100%;
  flex-grow: 1;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  background-color: var(--bg-color);
  padding-inline: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow-y: hidden;
}

@media (min-width: 90rem) {
  .container {
    justify-content: center;
  }
}