.container {
  width: 100%;
  flex-grow: 1;
  background-color: var(--bg-color);
  padding-inline: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow-y: hidden;
/*   justify-content: center; */
}

/* @media (min-width: 65rem) {
  .container {
    flex-wrap:
  }
} */