.sideMenu {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--accent-bg-color);
  transition: 0.5s;

  min-height: 100vh;
  @media (max-width: 767px) {
    min-height: -webkit-fill-available;
  }
  
  ul {
    padding-inline: 1rem;
    margin-top: 2rem;
    list-style-type: none;
  }

  .toggleTheme {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--primary-color);
    cursor: pointer;
  }

  .toggleFeed {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  &.hidden {
    translate: -100% 0;
    overflow: hidden;
  }
}